* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #061b28;
}
*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}
*::-webkit-scrollbar-track:active {
  background-color: white;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: blue;
}
*::-webkit-scrollbar-thumb:active {
  background-color: blue;
}
.header {
  width: 100%;
  height: 650px;
  background-image: url(/public/headerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  font-family: "Oswald", sans-serif;
  width: 1000px;
  margin: 0 auto;
  .header_side {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_left {
      align-items: center;
      display: flex;
      gap: 60px;
      .nav {
        display: flex;
        gap: 30px;
        a {
          font-size: 13px;
          color: white;
          text-decoration: none;
        }
      }
    }
    .header_right {
      align-items: center;
      gap: 50px;
      display: flex;
      .number {
        h2 {
          font-size: 18px;
          color: white;
        }
      }
      .user_search {
        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fcfcfc66;
        }
        display: flex;
        gap: 20px;
      }
    }
  }
  .text_everst {
    text-align: center;
    h1 {
      text-align: center;
      color: white;
      font-size: 70px;
      margin-top: 200px;
      margin-bottom: 40px;
    }
    button {
      font-weight: 600;
      border: 2px solid white;
      background: none;
      color: white;
      width: 160px;
      height: 40px;
    }
  }
  .top_of_the_world {
    margin-top: 120px;
    display: flex;
    align-items: center;
    .top_of_the_world_text {
      width: 640px;
      h2 {
        margin-bottom: 50px;
        font-size: 35px;
        font-weight: 800;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
    .top_of_the_world_location {
      height: 250px;
      img {
        width: 100%;
      }
    }
  }
  .popular_tours {
    margin-bottom: 50px;
    margin-top: 50px;
    .popular_tours_text {
      h2 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
      }
    }
    .popular_tours_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .item_one,
      .item_two,
      .item_theree {
        padding: 40px;
        width: 320px;
        height: 280px;
        background: url(/public/itemone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .item_top {
          margin-bottom: 120px;
          display: flex;
          justify-content: space-between;
          img {
            width: 11px;
            height: 15px;
          }
          .item_top_left {
            align-items: center;
            gap: 10px;
            display: flex;
            p {
              font-weight: 700;
            }
          }
          .item_top_right {
            .favorites {
              img {
                cursor: pointer;
              }
            }
          }
        }
        .item_botton {
          h3 {
            margin-bottom: 10px;
          }
          p {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
          }
          .info {
            gap: 5px;
            display: flex;
            img {
              margin-top: 3px;
              height: 11px;
            }
          }
          hr {
            background: black;
            height: 18px;
          }
        }
      }
      .item_two {
        background: url(/public/itemtwo.jpg);
      }
      .item_theree {
        background: url(/public/itemtheree.jpg);
      }
    }
    .swiper {
      justify-content: end;
      margin-top: 30px;
      display: flex;
      gap: 20px;
      button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0;
        img {
          width: 10px;
        }
      }
    }
  }
}

.russia {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
  height: 650px;
  background-image: url(/public/russia.jpg);
  .russia_text {
    padding-top: 50px;
    text-align: center;
    h1 {
      margin-bottom: 30px;
      color: #fcfcfc;
      font-size: 45px;
      font-weight: 700;
    }
    p {
      color: #fcfcfc;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }
  .russia_flex {
    width: 800px;
    margin: 0 auto;
    .elem {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      p {
        color: #a7aeb4;
        width: 120px;
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 120px;
        color: white;
      }
    }
  }
  button {
    color: white;
    font-weight: 700;
    margin-top: 40px;
    width: 150px;
    background: none;
    border: 2px solid white;
    height: 50px;
  }
}

.blog {
  font-family: "Oswald", sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .blog_flex {
    gap: 30px;
    display: flex;
    .blog_left {
      .s {
        text-align: start;
        padding: 20px;
        width: 400px;
        height: 125px;
        margin-bottom: 20px;
        background: #061b28;
        border-bottom: 2px solid black;
        p {
          font-weight: 800;
          color: #7e8386;
          font-size: 12px;
          margin-bottom: 20px;
        }
        h5 {
          font-weight: 800;
          color: white;
        }
      }
      .questions {
        text-align: start;
        padding: 20px;
        width: 400px;
        height: 125px;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
        p {
          font-weight: 800;
          color: #7e8386;
          font-size: 12px;
          margin-bottom: 20px;
        }
        h5 {
          font-weight: 800;
        }
      }
      button {
        margin-top: 20px;
        width: 400px;
        height: 40px;
        color: white;
        font-weight: 500;
        background-color: #ec5118;
        border: 0;
        cursor: pointer;
      }
    }
    .blog_right {
      img {
        height: 280px;
        width: 100%;
      }
      p {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 30px;
      }
    }
  }
}

.need_help_flex {
  display: flex;
  font-family: "Oswald", sans-serif;
  .need_help_flex_left {
    width: 100%;
    padding: 7%;
    height: 100%;
    background-color: #061b28;
    h2 {
      font-size: 40px;
      color: white;
      margin-bottom: 20px;
    }
    p {
      color: #fcfcfc;
      font-weight: 400;
      line-height: 40px;
      font-size: 20px;
    }
    .p {
      font-size: 14px;
    }
    input {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
      background: none;
      border: 0;
      border-bottom: 2px solid #7e8386;
    }
    button {
      cursor: pointer;
      width: 100%;
      padding: 20px;
      color: white;
      background: #ec5118;
      font-weight: 600;
      border: 0;
      margin-bottom: 30px;
    }
  }
  .need_help_flex_right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/public/needhelp.jpg);
    width: 100%;
    padding: 1px;
  }
}
.location_and_contact {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  .contact_side {
    h2 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .contact {
      p {
        font-size: 18px;
        margin-bottom: 15px;
      }
      h6 {
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .contact_flex {
        display: flex;
        gap: 30px;
      }
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: #061b28;
  .footer_flex {
    display: flex;
    justify-content: space-between;
    p {
      color: white;
      font-size: 12px;
    }
  }
}
